/* body{
  background: #000;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
}
.hed{
  color:aqua;
  font-size: 2rem;
} */


/* DAY-3 */
*{
  background-color: black;
  font-size: 1.5rem;
}
.Card{
  border: 3px solid yellow;
  padding: 40px;
  width: 20rem;
  margin: 200px auto;
  border-radius: 20px;
}
nav{
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.heading{
  font-family: 'Courier New', Courier, monospace;
  color:chartreuse;
  font-size: 2rem;
}
.listitems{
  color: aqua;
  font-size: large;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}
.logo{
  height: 50px;
  width: 50px;

}